*.exe
*.pdb
*.ilk
*.obj
*.opendb
*.db
*.pdb
*.iobj
*.ilk
*.obj
*.tlog
*.db
*.enc
*.idb
*.log
.vs/BaseballStatsBuilder/v14/.suo
BaseballStatsBuilder/FangraphsCachedPages/CumulativeUpTo/*.*
BaseballStatsBuilder/FangraphsCachedPages/*.txt
BaseballStatsBuilder/Top*.csv