*.exe
*.pdb
*.ilk
*.obj
*.opendb
*.db
*.pdb
*.iobj
*.ilk
*.obj
*.tlog
*.db
*.enc
*.idb
*.ipdb
*.log
*.vcxproj.filters
.vs/
.vs/BaseballStatsBuilder/v14/.suo
BaseballStatsBuilder/FangraphsCachedPages/
BaseballStatsBuilder/Top*.csv
Player2018DataCached/
BaseballStatsBuilder/2018ResultsTracker/BeatTheStreak/
BaseballStatsBuilder/2018ResultsTracker/Pitchers/